<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxargo:Admin</title>

        <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
        
    <!-- ====== Magnific Popup CSS ====== -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">
        
    

    
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="styles.css">
    
    <script src="https://use.fontawesome.com/4301952e86.js"></script>
    
   
</head>
<body>
 
  
    <div class="container">
   
         <div class="gap row justify-content-center">
                 <div class="col-md-12 position-relative">
                  
                      <div class="result_container">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">emailId</th>
                            <th scope="col">Orders</th>
                            <th scope="col">Username</th>
                            <th scope="col">Address</th>
                            <th scope="col">pincode</th>
                            <th scope="col">state</th>
                            <th scope="col">mobileno</th>
                          </tr>
                        </thead>
                        <tbody id="data_input">
                          <tr>
                            <th scope="row">data</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div> 
                                
                                </div>
                                </div>
                       
                    
                
                
                </div>
            <!-- </div> -->
         
          
         
   
     <!-- </div> -->
    

    <%- include("footer"); -%>


    <!--====== Jquery js ======-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>   
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="assets/js/ajax-contact.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
 
   
    
     <!-- <script src="script1.js"></script> -->
    <script src="assets/js/main.js"></script>
    
    <script type="text/javascript">
    let allUserFiles=`<%= allUserFiles %>`
    let dae=<%= JSON.parse(allUserFiles) %>
    console.log(dae);
    let dl=`<%=allUserFiles[0].userPersonalData[0].fname%>`
        console.log(dl);
        // console.log(allUserFiles[0].userPersonalData[0].fname);
   let length='<%= length %>';
   console.log(length);
   </script>
    
    <script type="text/javascript">
        let answers=[];
        let output=[];
        for(i=0;i<length;i++){
            answers.push(
                // //           </tr>`
          );
        }
        output.push(` <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">emailId</th>
                            <th scope="col">Orders</th>
                            <th scope="col">Username</th>
                            <th scope="col">Address</th>
                            <th scope="col">pincode</th>
                            <th scope="col">state</th>
                            <th scope="col">mobileno</th>
                          </tr>
                        </thead>
                        <tbody id="data_input">
                            ${answers.join('')}
                        </tbody>
                      </table>  `);
       document.getElementById("result_container").innerHTML = output.join('');
        console.log(data);
    </script>

    
 
</body>
</html>