<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">
        
    
    
    <!--====== Default CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/default.css"> -->
    
    <!--====== Style CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/style.css">  -->





    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://use.fontawesome.com/4301952e86.js"></script>
</head>
<body>
 
  <section>
    <div class="container">
    <form id="stepped" action="/Form-page" method="post">
        <div class="container">
          <!-- <div class="note">
            <p>ITR MADE SIMPLER,IN FEW STEPS IT WILL BE DONE</p>
        </div> -->
          <div class="row justify-content-center">
            <%- include("formdetails/partsComponent/navbar1") -%>
                <!-- <div class="col-md-10">
                  <ul class="list-group list-group-horizontal-sm justify-content-around py-3">
                    <a type="button" class="btn introTab rounded  mr-3 list-group-item option1">1.PERSONAL-INFO</a>
                    <a type="button" class="btn introTab rounded  mr-3 list-group-item option2">2.INCOME SOURCES</a>
                    <a type="button" class="btn introTab rounded  mr-3 list-group-item option3">3.TAXES PAID</a>
                    <a type="button" class="btn introTab rounded  mr-3 list-group-item option4">4.DEDUCTION</a>
                    <a type="button" class="btn introTab rounded  mr-3 list-group-item option5">5.TAX-FILING</a>
                  </ul>
                </div> -->
                
                <!-- <div class="col-md-10">
                <div class="indicators d-flex justify-content-around py-4 text-light">
                  <div class="rounded-circle bg-secondary bg-success px-2 shadow-sm mr-2">1</div>
                  <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">2</div>
                  <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">3</div>
                  <div class="rounded-circle bg-secondary px-2 shadow-sm">4</div>
                </div>
                </div> -->
              
                <div class="col-md-10">
                <div class="position-relative">
                    <!-- page-1 of form -->
                        <!-- <%- include("formdetails/step1.ejs"); -%> -->
                    <!-- page1 of form ends -->
                
                  
                    <!-- page-2 of page starts -->
                      <!-- <%- include("formdetails/step2.ejs"); -%> -->
                    <!-- page-2 of page ends -->
                  
                    <!-- page3 of page starts -->
                        <!-- <%- include("formdetails/step3.ejs"); -%> -->
                    <!-- page -3 of page ends -->
                  
                    
                    <!-- page-4 of page STARTS -->
                        <!-- <%- include("formdetails/step4.ejs"); -%>  -->
                    <!-- page-4 of page ENDS -->
                  
                    <!-- page-5 of page STARTS -->
                        <!-- <%- include("formdetails/step5.ejs"); -%> -->
                    <!-- page-5 of page  ENDS -->
              
              
                    <!-- page-6 of page  STARTS -->
                        <!-- <%- include("formdetails/step6.ejs"); -%> -->
                    <!-- page-6 of page  ENDS -->   

                    <!-- page-7 of page  STARTS -->
                        <!-- <%- include("formdetails/step7.ejs"); -%> -->
                    <!-- page-7 of page  ENDS -->   

                    <!-- page-8 of page  STARTS -->
                        <!-- <%- include("formdetails/step8.ejs"); -%> -->
                    <!-- page-8 of page  ENDS -->
              
              
              </div>
              </div>
          </div>
         
                 <!-- ROW DIV-->
                  <!-- BUTTONS -->
                  <div class="my-3">
                    <div class="row justify-content-around">
                      <div class="col-md-3">
                        <button type="button" class="btnPrev btn btn-block btn-outline-success">Prev</button>
                      </div>
                      <div class="col-md-3">
                        <button type="submit" class="btnNext btn btn-block btn-outline-success">Next</button>
                      </div>
                    </div>
                  </div>
                  <!-- BUTTONS -->

                </div>
      </div> <!--CONTAINER DIV -->
         
    </form>   
  </div>
    </section>

    <%- include("footer"); -%>


    <!--====== Jquery js ======-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>   
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="assets/js/ajax-contact.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    
    <!--====== Main js ======-->
    <script src="script1.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="addContentScript.js"></script>
    

</body>
</html>