<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxargo:Payment</title>

        <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
        
    <!-- ====== Magnific Popup CSS ====== -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">
        
    
    

    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.css">
  <link rel="stylesheet" href="styles.css">
      
     <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <script src="https://use.fontawesome.com/4301952e86.js"></script>
    
   
</head>
<body style="
background: #007bff;
background: linear-gradient(to right, #0062E6, #33AEFF);"
>
 
  
    <div class="container">
    <form id="stepped" action="/orderselection<%= customVID %>" method="post">
         <div class=" gap1 row justify-content-center">
                 <div class="col-md-12 position-relative">
                  
                        <section class="inner-section-step active">
                            
                            <div class="blue steps step-shadow-box step-shadow-box-1">
                              <div class="p-3 bg-white shadow-lg rounded-sm">
                                <br>
                                <h5 class="heading-H">Services-Offered</h5>
                                <hr class="separator--line" />
                                <br>

<!-- asdfg -->
<div class="row justify-content-around">
           
    <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="pricing-style mt-30">
            <div class="pricing-icon text-center">
                <img class="img-thumbnail" src="assets/images/service1.jpg" alt="">
            </div>
            <div class="pricing-header text-center">
                <h5 class="sub-title">ITR-1</h5>
                <p class="month"><span id="priceElement1" class="price"><i class="fa fa-inr" aria-hidden="true"></i> <%= items.products[0].price %></span>/</p>
            </div>
            <div class="pricing-list ">
                <ul style="list-style-type: none;"> 
                    <li ><i class="lni lni-angle-double-right"></i>Easy Uploading.</li>
                    <li ><i class="lni lni-angle-double-right"></i>Easy Submission.</li>
                    <li ><i class="lni lni-angle-double-right"></i>One-Click-Filing.</li>
                </ul>
            </div>
               
        </div> <!-- pricing style one -->
    </div>
    
    <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="pricing-style mt-30">
            <div class="pricing-icon text-center">
                <img class="img-thumbnail" src="assets/images/service2.jpg" alt="">
            </div>
            <div class="pricing-header text-center">
                <h5 class="sub-title">GST-Registration</h5>
                <p class="month"><span id="priceElement2" class="price"><i class="fa fa-inr" aria-hidden="true"></i> <%= items.products[1].price %></span>/</p>
            </div>
            <div class="pricing-list">
                <ul style="list-style-type: none;">
                    <li ><i class="lni lni-angle-double-right"></i>Easy Uploading.</li>
                    <li ><i class="lni lni-angle-double-right"></i>Easy Submission.</li>
                    <li ><i class="lni lni-angle-double-right"></i>One-Click-Registration.</li>
                   
                </ul>
            </div>
            
        </div> <!-- pricing style one -->
    </div>
    
     
</div>
   
<div class="gap row justify-content-center">
   
   
    <div class="form-group col-md-8">
        <label class="heading-label" for="category">Select Your Service</label>
        <select name="E_category" id="selectedService" class="form-control">
          <option value="ITR">ITR-1</option>
          <option value="GST">GST-Registration</option>
        </select>
    </div>
    <div class="form-group col-md-2 my-4 ">
        <a id="checkGetId1" role="button" class="btn btn-success ">Select</a>
    </div>
</div>
<div id="paymentButton" class="row justify-content-center hide">
<div class="col-md-6">
<button class="btn btn-primary btn-block" id="rzp-button1">Pay Now</button>
</div>

</div>


                                <!-- Zxc -->
                                <!-- <div class="card "> -->
                              <!-- <div class="card-body"> -->
                                  <!-- <div class="gap row justify-content-between">
                                        <div class="card text-white bg-success mb-3 col-md-6" style="max-width: 20rem;">
                                            <div class="card-header text-center">ITR</div>
                                            <div class="card-body">
                                            <h4 id="priceElement1" class="card-title"><%= items.products[0].price %></h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card text-white bg-success mb-3 col-md-6" style="max-width: 20rem;">
                                            <div class="card-header text-center">GST</div>
                                            <div class="card-body">
                                            <h4 id="priceElement2" class="card-title"><%= items.products[1].price %></h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                        </div>
                                 </div> -->
                                 
                        
                             <!-- </div>  -->
                         <!-- <br>     -->
                                
                                <!-- </div> -->
                                
                            
                            </div>
                        </section>
                    
                
                
                </div>
            </div>
         
          
         
      </form>   
     </div>
    

    <%- include("footer"); -%>


    <!--====== Jquery js ======-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>   
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="assets/js/ajax-contact.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
 


    <!--====== Main js ======-->
    <script>
    let razorPublicKey = '<%= razorPublicKey %>'
    let customVID='<%= customVID %>'
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script> 
    
    <script src="razorPay.js" defer></script>

    
    <script src="script1.js"></script>
    <script src="assets/js/main.js"></script>
    
 
</body>
</html>